html, body {
    background-color: #8e9ba8;
    height: 100%;
}

.main {
    background-color: white;
    margin: 30px;
}

.btn-publish {
    margin-top: 5px;
    float: right;
    margin-bottom: 15px;
}

.avatar {
    width: 55px;
    height: 55px;
}

.comment {
    font-size: 12px;
    font-weight: normal;
    color: #999999;
}

.myModal {
    margin-top: 200px;
    width: 300px;
}

.publish-person {
    width: 25px;
    height: 25px;
}

.comment-person {
    margin: 10px;
}

.media-body {
    padding-top: 3px;
}

.comment-area {
    margin: 10px 0;
}

.comment-sp {
    margin-bottom: 20px;
    margin-top: 0;
}

.menu {
    color: #999;
    margin-top: 5px;
}

.menu .icon {
    margin-right: 7px;
    font-size: 14px;
    cursor: pointer;
}

.menu .active {
    color: #499ef3;
}

.menu .icon:hover {
    color: #499ef3;
}

.comment-avatar {
    width: 35px;
    height: 35px;
}

.comments {
    margin-bottom: 15px;
    border-bottom: 1px solid #EEE;
    padding-bottom: 5px;
}

.sub-comment {
    margin: 12px 2px;
    border: 1px solid #EEE;
    padding: 15px;
    border-radius: 5px;
}

.sub-comment .btn {
    margin: 10px 0;
}

.question-tag {
    margin-right: 8px;
}

.question-related {
    line-height: 20px;
    font-size: 12px;
    list-style: none;
    padding-left: 0;
    text-decoration: crimson;
}

.question-tagCategory {
    margin: 5px 0;
}

.question-tagCategory .label-info {
    white-space: normal;
    margin: 5px 5px;
    display: inline-block;
}