body {
    background-color: #8e9ba8;
}

.main {
    background-color: white;
    margin: 30px;
}

.btn-publish {
    float: right;
    margin-bottom: 15px;
}

.avatar {
    width: 55px;
    height: 55px;
}

.comment {
    font-size: 12px;
    font-weight: normal;
    color: #999999;
}

.myModal {
    margin-top: 200px;
    width: 300px;
}