<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="">
<head>
    <title>张昕的前端页面</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <script src="/js/jquery-3.3.1.js"></script>
    <script src="/js/bootstrap.min.js" type="application/javascript"></script>
    <link rel="stylesheet" href="/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="/css/testProject.css">
    <!--    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>-->
</head>
<body>

<div class="jumbotron" style="height: 100%">
    <div class="container">
        <h1>出错了!</h1>
        <p th:text="${message}"></p>
        <p><a class="btn btn-primary btn-lg" href="/" role="button">回到主页</a></p>
    </div>
</div>

</body>
</html>