<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="">
<head>
    <title>张昕的前端页面</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <script src="js/jquery-3.3.1.js"></script>
    <script src="js/bootstrap.min.js" type="application/javascript"></script>
    <link rel="stylesheet" href="css/bootstrap.min.css"/>
    <link rel="stylesheet" href="css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="css/testProject.css">
    <!--    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>-->
</head>

<!--登陆完成以后，关闭登录的窗口-->
<script type="application/javascript">
    window.onload = function () {
        let closable = window.localStorage.getItem("closable");
        if (closable === "true") {
            window.close();
            window.localStorage.removeItem("closable");
        }
    }
</script>

<body>
<!--<p th:text="'Hello, ' + ${name} + '!'"/>-->
<div th:insert="navigation :: navigation"></div>
<div class="container-fluid main">
    <!--    将最外面的布局元素 .container 修改为 .container-fluid，就可以将固定宽度的栅格布局转换为 100% 宽度的布局。-->
    <div class="row">
        <div class="col-lg-9 col-md-12 col-sm-12 col-xs-12">
            <h2><span class="glyphicon glyphicon-th-list" aria-hidden="true"></span>发现</h2>
            <hr>
            <div class="media" th:each="question: ${pagination.data}">
                <div class="media-left">
                    <a th:href="@{'/questionDetail/' + ${question.id}}">
                        <img class="img-rounded avatar"
                             th:src="${question.user} != null ? ${question.user.avatarUrl} : '' " alt="">
                    </a>
                </div>
                <div class="media-body">
                    <h4 class="media-heading"><a th:href="@{'/questionDetail/' + ${question.id}}"
                                                 th:text="${question.title}"></a></h4>
                    <!--<span th:text="${question.description}"></span><br>-->
                    <span class="comment" id="comment">
                        <span th:text="${question.commentCount}"></span><span>个回复</span>
                        <span th:text="${question.viewCount}"></span><span>次浏览·</span>
                        <span th:text="${#dates.format(question.gmtModified, 'yyyy-MM-dd HH:mm')}"></span>
                    </span>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-12 col-sm-12 col-xs-12">
            <h3 style="padding: 5px 0">热点话题</h3>
            <hr>
            <ul class="hotTags">
                <li th:each="hotTag : ${hotTags}">
                    <a href="#" th:text="${hotTag.name}"></a>
                </li>
            </ul>
        </div>
    </div>

    <div class="col-lg-6 col-md-0 col-sm-0 col-xs-0"></div>
    <nav aria-label="Page navigation">
        <ul class="pagination">
            <li>
                <a th:href="@{/(page=1, search = ${search})}" aria-label="Previous" th:if="${pagination.isShowFirstPage()}">
                    <span aria-hidden="true">&lt;&lt;</span>
                </a>
                <a th:href="@{/(page=${pagination.currentPage}-1, search = ${search})}" aria-label="Previous"
                   th:if="${pagination.isShowPrevious()}">
                    <span aria-hidden="true">&lt;</span>
                </a>
            </li>
            <li th:each="page:${pagination.pages}" th:class="${pagination.currentPage == page}?'active':''">
                <a th:href="@{/(page=${page}, search = ${search})}" th:text="${page}"></a>
            </li>
            <li>
                <a th:href="@{/(page=${pagination.currentPage}+1, search = ${search})}" aria-label="Next"
                   th:if="${pagination.isShowNext()}">
                    <span aria-hidden="true">&gt;</span>
                </a>
                <a th:href="@{/(page=${pagination.totalNumber}, search = ${search})}" aria-label="Next"
                   th:if="${pagination.isShowLastPage()}">
                    <span aria-hidden="true">&gt;&gt;</span>
                </a>
            </li>
        </ul>
    </nav>
</div>
<div th:insert="footer :: footer"></div>
</body>
</html>