<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="">
<head>
    <title th:text="${questionDetail.title}"></title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <script src="/js/jquery-3.3.1.js"></script>
    <script src="/js/bootstrap.min.js" type="application/javascript"></script>
    <script src="/js/testProject.js"></script>
    <script src="/js/moment.js"></script>
    <link rel="stylesheet" href="/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="/css/testProject.css">
</head>
<body>
<!--<p th:text="'Hello, ' + ${name} + '!'"/>-->
<div th:insert="navigation :: navigation"></div>
<div class="container-fluid main">
    <!--    将最外面的布局元素 .container 修改为 .container-fluid，就可以将固定宽度的栅格布局转换为 100% 宽度的布局。-->
    <div class="row">
        <div class="col-lg-9 col-md-12 col-sm-12 col-xs-12">
            <!--问题详情-->
            <h4 style="margin-top: 25px"><span th:text="${questionDetail.title}"></span></h4>
            <span class="comment" id="comment">
                <span>作者：</span><span th:text="${questionDetail.user.name}"></span><span> | </span>
                <span>发布时间：</span><span
                    th:text="${#dates.format(questionDetail.gmtModified, 'yyyy-MM-dd HH:mm')}"></span><span> | </span>
                <span>阅读数：</span><span th:text="${questionDetail.viewCount}"></span>
            </span>
            <hr>
            <p th:text="${questionDetail.description}"></p>
            <hr>
            <span class="label label-info question-tag" th:each="tag : ${questionDetail.tag.split(',')}">
                <span class="glyphicon glyphicon-tags"></span>
                <span class="label label-info" th:text="${tag}"></span>
            </span>

            <hr>
            <a th:href="@{/publish/{id}(id=${questionDetail.getId()})}"
               th:if="${session.user != null && session.user.accountId == questionDetail.user.accountId}">
                <span class="glyphicon glyphicon-pencil" aria-hidden="true"
                      style="color: #999999;font-size: 13px;margin-bottom: 10px">编辑问题</span>
            </a>
            <br>
            <!--评论内容-->
            <h4><span th:text="${questionDetail.commentCount}"></span>个回复</h4>
            <hr class="comment-sp">
            <div th:each="comment : ${comments}" class="comments">
                <div class="media">
                    <div class="media-left">
                        <a th:href="@{'/questionDetail/' + ${questionDetail.id}}">
                            <img class="img-rounded comment-avatar"
                                 th:src="${comment.user} != null ? ${comment.user.avatarUrl} : '' "
                                 alt="">
                        </a>
                    </div>
                    <div class="media-body">
                        <h5 class="media-heading"><span th:text="${comment.user.name}"></span></h5>
                        <div><span th:text="${comment.content}"></span></div>
                        <div class="menu">
                            <span class="glyphicon glyphicon-thumbs-up icon"></span>
                            <span class="glyphicon glyphicon-comment icon" onclick="commentList(this)"
                                  th:data-id="${comment.id}" th:text="${comment.commentCount}"></span>
                            <span class="pull-right"
                                  th:text="${#dates.format(comment.gmtModified, 'yyyy-MM-dd')}"></span>
                        </div>
                        <!--二级评论-->
                        <div class="collapse sub-comment" th:id="${'comment-' + comment.id}">
                            <!--通过js拼接的页面加载在这里 -->
                            <!--二级评论的评论区-->
                            <div style="margin-bottom: 40px">
                                <input type="text" class="form-control" placeholder="文明评论"
                                       th:id="${'reply-' + comment.id}">
                                <button type="button" class="btn btn-success pull-right" onclick="reply(this)"
                                        th:data-id="${comment.id}">评论
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!--评论区-->
            <div class="media" id="comment-person">
                <div class="media-left">
                    <a href="#">
                        <img class="img-rounded publish-person"
                             th:src="${session.user} != null ? ${session.user.avatarUrl} : '' " alt="">
                    </a>
                </div>
                <div class="media-body">
                    <span th:text="${session.user} != null ? ${session.user.name} : '暂未登录，无法评论'"></span>
                </div>
            </div>
            <input hidden id="id" th:value="${questionDetail.getId()}"/>
            <textarea class="form-control comment-area" rows="10" id="comment-content"
                      placeholder="文明评论"></textarea>
            <button type="submit" class="btn btn-success btn-publish" onclick="comment()">回复</button>
        </div>

        <div class="col-lg-3 col-md-12 col-sm-12 col-xs-12">
            <h3>发起人</h3>
            <div class="media">
                <div class="media-left">
                    <a href="#">
                        <img class="img-rounded publish-person"
                             th:src="${questionDetail.user} != null ? ${questionDetail.user.avatarUrl} : '' "
                             alt="">
                    </a>
                </div>
                <div class="media-body">
                    <span th:text="${questionDetail.user.name}"></span>
                </div>
            </div>
            <hr>
            <h3>相关问题</h3>
            <ul class="question-related">
                <li th:each="question : ${relatedQuestions}">
                    <a th:href="@{'/questionDetail/' + ${question.id}}" th:text="${question.title}"></a>
                </li>
            </ul>

        </div>
    </div>
</div>

</body>
</html>